body {
  background-color: black;
  color: pink;
  font-family: system-ui;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  text-shadow: 0px 10px palevioletred;
}

#bigParagraph {
  font-size: 32px;
  font-weight: 500;
}

#bigParagraphTwo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
}
#webDev {
  text-align: right;
  color: midnightblue;
  text-decoration: underline;
}
#author {
  color: indigo;
  font-size: 28px;
  font-weight: bolder;
}
ul {
  list-style-type: none;
}
a {
  font-size: 28px;
  font-weight: 500;
  color: pink;
  text-decoration: none;
}

h2 {
  color: darkmagenta;
  background-color: khaki;
  font-style: italic;
}
