body {
  background-color: rgb(149, 255, 198);
  color: rgb(0, 0, 0);
  font-family: fantasy;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-right: 100px;
}

#bigParagraph {
  font-size: 32px;
  font-weight: 500;
  margin: 10px 100px;
}

#bigParagraphTwo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
  border: 5px pink dotted;
  padding: 10px;
  margin: 10px 100px;
}
#webDev {
  text-align: right;
  color: midnightblue;
  text-decoration: underline;
}
#author {
  color: indigo;
  font-size: 28px;
  font-weight: bolder;
  margin: 10px 100px;
  padding: 10px;
  border: 10px double purple;
}
ul {
  list-style-type: none;
}
a {
  font-size: 28px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

h2 {
  color: darkmagenta;
  border: 5px khaki double;
  font-style: italic;
  right: 200px;
  margin-bottom: 50px;
}
